.wrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  font-size: 0.833rem;
  text-align: center;
  box-sizing: border-box;
  padding: 60px 0;
  background-color: #fff;
  min-width: 310px;
  border-radius: 5px;
  box-shadow: var(--box-shadow);
}
.modal > img {
  width: 70px;
}
.modal > p {
  margin-top: 10px;
  margin-bottom: 20px;
}

.ui > div {
  box-shadow: none;
}
