.wrapper {
  height: calc(100% - 60px);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.btn {
  align-self: center;
  position: absolute;
  bottom: var(--add-btn-bottom);
  width: var(--add-btn-size);
  height: var(--add-btn-size);
  border-radius: 50%;
  z-index: 13;
  background-color: #303030;
  padding-top: 1px;
  transition: 200ms ease-in-out;
}

.btn.rotate {
  transform: rotate(45deg);
  transition: 200ms ease-in-out;
}
