.wrap {
  min-height: calc(100vh - 80px);
  margin-top: 80px;
}

.div {
  position: relative;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--box-shadow);
  background-color: rgba(255, 255, 255, 0.6);
}
.div > img {
  width: 100px;
  height: 100px;
}

.photo_wrap {
  margin-top: 30px;
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
  padding: 16px 6px 30px 6px;
}
.photo {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.photo > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p {
  font-weight: 700;
  background-color: var(--blue-color);
  transform: rotate(-3deg);
  padding: 0 5px;
  margin-top: 20px;
}

textarea {
  height: 1rem;
  width: 100%;
  margin-top: 30px;
  font-family: inherit;
  font-size: 0.833rem;
  text-align: center;
  border-style: none;
  outline: none;
  resize: none;
}

.date {
  align-self: flex-start;
  position: absolute;
  top: 20px;
  width: 36px;
  font-size: 20px;
  font-family: inherit;
  border-style: none;
  border-bottom: solid 2px;
  text-align: center;
  padding: 3px;
}
input[type='date']::-webkit-datetime-edit-text {
  -webkit-appearance: none;
  display: none;
}
input[type='date']::-webkit-datetime-edit-month-field {
  -webkit-appearance: none;
  display: none;
}
input[type='date']::-webkit-datetime-edit-year-field {
  -webkit-appearance: none;
  display: none;
}
input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  left: -25px;
  right: 0;
  bottom: 0;
  width: auto;
  height: auto;
  background: transparent;
  cursor: pointer;
}

.btns {
  display: flex;
  align-items: center;
}

.btn {
  display: block;
  text-align: center;
  width: 100px;
  height: 40px;
  font-family: inherit;
  font-size: 0.667rem;
  background-color: #ffffff;
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 10px;
  margin-right: 10px;
  margin-top: 16px;
  cursor: pointer;
}

.spinner {
  display: inline-block;
  align-items: center;
  width: 0.9rem;
  height: 0.9rem;
  border: 3px solid #d1d1d1;
  border-top: 3px solid #999999;
  border-radius: 50%;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  form {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
