.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
}

.logo {
  display: block;
  width: 90px;
  height: 30px;
  transform: rotate(-3deg);
}

.year {
  text-transform: uppercase;
}

.skeleton {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--light-gray-color);
}
