.ul {
  display: flex;
  flex-wrap: wrap;
}

.li {
  width: 100%;
  max-width: 90px;
  min-width: var(--home-card-size);
  height: var(--home-card-size);
  margin-bottom: 16px;
  text-align: center;
  cursor: pointer;
}
.li > a {
  height: 100%;
}
.li img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 767px) {
  .li {
    max-width: calc(100% / 8);
  }
}

@media screen and (max-width: 576px) {
  .li {
    max-width: calc(100% / 5);
  }
}
