.wrap {
  position: fixed;
  z-index: 11;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgb(0, 0, 0, 0.5);
  opacity: 0;
  user-select: none;
}
.wrap.on {
  animation: fadeIn 0.5s ease forwards;
}
.wrap.off {
  animation: fadeOut 0.5s ease;
}
.wrap.none {
  display: none;
}

.tooltip {
  position: absolute;
  left: calc(50% - (210px / 2));
  bottom: var(--tooltip-bottom);
  width: 210px;
  padding: 20px 0;
  background-color: var(--dark-blue-color);
  color: #ffffff;
  text-align: center;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  font-size: 0.833em;
  line-height: 1.3rem;
}
.tooltip.on {
  animation: up 0.5s ease;
}
.tooltip.off {
  animation: down 0.5s ease forwards;
}
.tooltip:after {
  border-bottom: 0px solid transparent;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 16px solid var(--dark-blue-color);
  content: '';
  position: absolute;
  bottom: -16px;
  left: calc(50% - 10px);
}
.tooltip > p:first-child {
  margin-bottom: 16px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes up {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes down {
  100% {
    transform: translateY(30px);
    opacity: 0;
  }
  0% {
    transform: translateY(0);
    opacity: 1;
  }
}
