.wrap {
  position: absolute;
  z-index: 10;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  justify-content: center;
  user-select: none;
  cursor: grab;
  background-color: var(--bg-color-opacity);
  background-image: var(--bg-image);
}

.moods {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: var(--moods-bottom);
}
